@charset "UTF-8";
:root {
    --color-dark: #363F5F;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark);
    font-weight: normal;
}

header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}
#logo {
    color: #FFF;
    font-weight: 100;
}

.container {
    width: min(90vw, 300px);
    margin: auto;
}

#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: #FFF;
    margin-top: 0;
}
.cards {
    background: #FFF;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--color-dark);
}
.cards h3 {
    font-weight: normal;
    font-size: 1rem;
}
.cards p {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3rem;
}
.cards.total {
    background: #49AA26;
    color: #FFF;
}

#transaction {
    width: 100%;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969CB3;
}
table th {
    background: #FFF;
    opacity: 0.6;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}
table td {
    background: #FFF;
    padding: 1rem 2rem;
    font-weight: normal;
}
.description , .date {
    color: var(--color-dark);
}
.income {
    color: #12A454;
}
.expense {
    color: #E92929;
}

table thead tr th:first-child, table tbody tr th:first-child { 
    border-radius: 0.5rem 0 0 0.5rem;
}
table tr {
    opacity: 0.7;
}
table tr:hover {
    opacity: 1;
}

footer {
    text-align: center;
}