@charset "UTF-8";

.dash {
    width: 100vw;
    height: 100vh;

    padding: 4rem 0;
    gap: 4rem;

    display: flex;
    flex-direction: column;
    overflow: scroll;

    section {
        width: 1024px;
        max-width: 90vw;

        display: flex;
        align-self: center;

        &:first-child {
            justify-content: space-between;
        }

        &:last-child {
            justify-content: center;

            table {
                width: 100%;
                border-spacing: 0;

                tr {
                    text-align: center;
                    height: 2rem;
                    margin-bottom: .5rem;

                    td, th {
                        padding: .75rem 0;
                    }
                }

                thead tr {
                    color: var(--blue);
                }

                tbody tr {
                    background: var(--white);
                    font-weight: 600;
                    color: var(--gray);

                    td:first-child {
                        text-transform: capitalize;
                    }

                    &:first-of-type {
                        td:first-child {
                            border-radius: var(--border) 0 0 0;
                        }

                        td:last-child {
                            border-radius: 0 var(--border) 0 0;
                        }
                    }

                    &:last-of-type {
                        td:first-child {
                            border-radius: 0 0 0 var(--border);
                        }

                        td:last-child {
                            border-radius: 0 0 var(--border) 0;
                        }
                    }

                    &:hover {
                        background: rgba(1, 153, 59, 0.68);
                        color: var(--white);
                    }
                }
            }
        }

        div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 14rem;

            button {
                width: 3rem;
                height: 3rem;
                font-size: 1.5rem;

                background: var(--green);
                color: var(--white);

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        div:last-child {
            height: 14rem;
            width: 14rem;
            
            @media(max-width: 860px) {
                height: 10rem;
                width: 10rem;

                margin-top: 4.25rem;
            }
        }

        .chart {
            height: 14rem;
            width: auto;

            @media(max-width: 860px) {
                height: 10rem;
            }
        }
    }
}