.container {
  max-height: 100vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  width: inherit;
  height: 25vh;
  background: var(--header);
  padding-top: 3rem;
}

.navBar img {
  margin: 0 auto;
  padding-left: 30%;
}

.content {
  margin-top: -5rem;
  align-self: center;
  width: 80vw;
  height: 72vh;
  z-index: 9;
  background: red;
}
