
.container {
  position: relative;
  max-height: 40vh;
}

.addButton {
  position: absolute;
  top: 24rem;
  right: 34rem;

  height: 45px;
  width: 45px;

  border: 3px solid var(--dark-green);
  border-radius: 50%;

  text-align: center;
  font-size: 1.85rem;
  font-weight: 700;
  color: var(--dark-green);

  opacity: .48;
}

.addButton:hover {
  opacity: 1;
}

.navBar {
  padding-top: 1.5rem;
  top: 0;
  left: 0;
  height: 25vh;
  width: 100%;
  background: var(--header);
}

.navBar img {
  padding-left: 45%;
}

.content {
  z-index: 9;
  height: 500px;
  width: 25rem;
  max-width: 80%;
  margin: -3.75rem auto 0;
}

@media(max-width: 800px) {
  .content {
    margin-top: -5rem;
  }

  .navBar img {
    padding-left: 30%;
  }

  .addButton {
    top: 7rem;
    right: 1.5rem;
  }
}