:root {
  /*Normal Theme*/
  --my-green: #02e402;
  --lt-green: #3dd705;
  --dark-green: #49aa26;
  --header: #2d4a22;
  --income: #12a454;
  --my-red: #e92929;
  --full-red: #F00;
  --my-grey: #d2dcdf;
  --my-white:#f0f2f5;
  --full-white: #fff;
  --full-black: #000;
  --my-black: rgba(0,0,0,.5);
  --dark-blue: #363f5f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scroll-bar {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0);
}

html,
body {
  font-family: 'Red Hat Text', monospace;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.totals {
  background: var(--my-green);
  color: var(--full-white);
}
.incomes p {
  color: var(--my-green);
}
.expenses p {
  color: var(--my-red);
}

.expenses,
.incomes {
  background: var(--full-white);
}
