@charset "UTF-8";
/*GLOBAL*/
:root {
    --full-black: #000; /***/
    --my-black: rgba(0,0,0,.5); /***/
    --my-lt-green: #02E402; /***/
    --my-dk-green: #2D4A22; /***/
    --my-green: #49AA26; /***/
    --my-grey: #F0F2F5; /***/
    --my-red: #F00; /***/
    --my-white: #FFF; /***/
    --rocket-seat: #8257E6;
    --rocketseat-dark: #7159C1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background: var(--my-grey);
}
body:first-child {
    width: 100%;
}
#cabecalho {
    background: var(--my-dk-green);
    padding: 3rem;
}
#logo {
    color: var(--my-white);
    padding: 0;
    margin: 1rem auto 4rem;
    text-align: center;
    font-weight: 100;
}
.main {
    margin: -70px auto 2rem;
    width: min(90vw,500px);
}
#balance h2 {
     color: var(--my-white);
     font-weight: 400;
}
.cards {
    padding: 2rem 3rem;
    background: var(--my-white);
    border-radius: 5px;
    margin-bottom: 2rem;
}
.cards h3 {
    font-weight: normal;
    text-align: left;
    font-size: 12pt;
}
.cards p {
    font-size: 18pt
}
.cards.total {
    background: var(--my-green);
    color: var(--my-white);
}
#transaction h2 {
    font-weight: 400;
}
#data-table {
    width: 100%;
    border-radius: 2px 3px;
}
#data-table thead, #data-table tbody {
    padding: .25rem 1rem;
    text-align: left;
}
#data-table tbody tr, #data-table tbody td {
    background: var(--my-grey);
    opacity: .8;
    margin: 5px 0;
    padding: auto 0;
}
#data-table tbody tr:hover, #data-table tbody td:hover {
    opacity: 1;
}
.description {
    color: var(--full-black);
}
.expense {
    color: var(--my-red);
}
.income {
    color: var(--my-lt-green);
}
.date {
    color: var(--my-black);
}
#rodape {
    text-align: center;
    margin: 2rem;
}