@charset "UTF-8";

/*GLOBAL*/
:root {
  /*Normal Theme*/
  --my-green: #02e402; /***/ 
  --lt-green: #3dd705; /***/
  --dark-green: #49aa26; /***/
  --header: #2d4a22;
  --income: #12a454; /***/
  --my-red: #e92929; /***/
  --full-red: #F00; /***/
  --my-grey: #d2dcdf;
  --my-white:#f0f2f5; /***/
  --full-white: #fff; /***/
  --full-black: #000;/***/
  --my-black: rgba(0,0,0,.5); /***/
  --dark-blue: #363f5f; /***/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--my-white);
  width: 100%;

  font-family: 'Poppins', sans-serif;
  color: var(--dark-blue);
}

a{
  text-decoration: none;
}

/*Header*/
.cabecalho {
  width: 100%;
  padding: 1.5rem 4rem 6rem;
  background: var(--income);
}

.logo {
  display: block;
  margin: 1rem auto .75rem;
}

.toogle {
  padding: 1px;
  margin: 0;

  height: 40px;
  width: 40px;
  
  position: absolute;
  top: 1.5%;
  left: 1.5%;

  fill: var(--full-white);
}

.sun {
  opacity: 1;
}

.moon {
  opacity: 0;
}

.rocket {
  opacity: 0;
}

/*Main*/
.main {
  max-width: min(78%, 414px);

  margin: -6rem auto auto;
}

h2 {
  font-weight: normal;
  padding: 0;
  margin: 0 auto 1rem;
}

/*Balance*/
.balance {
  display: block;
}

.balance h2 {
  color: var(--full-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.cards {
  background: var(--full-white);
  border-radius: 8px;

  color: var(--full-black);
  font-weight: 400;

  padding: .25rem .35rem;
  margin: 1rem auto;
}

.cards.total {
  background: var(--lt-green);
  color: var(--full-white);
}

.cards h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: .85rem;
  font-weight: 100;
}

/*Transactions*/
.transaction {
  width: 100%;
}

.transaction a {
  font-size: 80%;
  color: var(--my-green);
}

.transaction a:hover {
  color: var(--dark-green);
}

.data-table {
  width: 100%;
  text-align: left;
}

.data-table thead tr,
.data-table tbody tr {
  font-weight: 400;
  color: var(--full-black);
  opacity: .7;
}

.data-table tbody tr:hover {
  opacity: 1;
}

.title,
.date,
.description {
  color: var(--dark-blue);
}

.expense {
  color: var(--full-red);
}

.income {
  color: var(--lt-green);
}

/*Footer*/
.rodape {
  text-align: center;
  margin: 1rem auto .5rem;
  padding: auto;
  height: 15px;
}

.rodape img {
  height: 20px;
  width: 20px;

}

/*Modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: var(--my-black);

  display: none;
}

.modal {
  background: var(--my-white);

  height: 250px;
  width: 250px;

  max-height: max(30%, 300px);
  max-width: max(30%, 300px);

  border-radius: 10px;

  position: relative;
  margin: min(40%, 150px) auto;
  padding: 0;

  display: block;
}

.form {
  padding-top: 7px;
  margin: 10px;
}

.input-group {
  margin: .5rem auto  auto;
  width: 80%;
  justify-items: center;
}

.input-group .help {
  opacity: .4;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 5x;
  width: 75px;
  text-align: center;
  background: var(--my-green);
  opacity: 0.7;
  border: none;
  border-radius: 8px;
  color: var(--full-white);
}

.actions .button.cancel {
  padding: 5px;
  width: 75px;
  text-align: center;
  background: var(--my-red);
  opacity: 0.7;
  border-radius: 8px;
  color: var(--full-white);
}

.actions button:hover,
.actions .button.cancel:hover {
  opacity: 1;
}

.modal-overlay.active {
  display: initial;
}

@media (min-width: 721px) {
  .balance {
    display: flex;
    margin: 50px auto;
  }

  .cards {
    padding: auto 50px;
    margin: 0 10px;
    width: 150px;
  }
}

@media (max-witdh: 400px /*ou 317px*/) {
  .data-table {
    font-size: 35%;
  }

  .rodape {
    font-weight: 100;
    font-size: 1%;
  }
}

@media (max-width: 317px) {
  .logo {
    margin-left: -.7rem;
  }

  .data-table {
    font-size: 80%;
  }
}

@media (max-width: 261px) {
  .logo {
    margin-left: -2rem;
  }

  .data-table {
    font-size: 60%;
  }
}
